*{
    margin: 0;
    padding: 0;
}
.fundo{
    background-image: linear-gradient(45deg, rgb(158, 170, 53), crimson);
    height: 100vh;
    color: white;
    font-family: Arial;
    text-align: center;
}
.calculadora{
    position: absolute;
    background-color: rgba(14, 1, 1, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
}
.botao{
    margin: 2px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgba(0,5);
    border: none;
    color:rgb(255, 253, 253)
}
.botao:hover{
    background-color: rgb(201, 164, 44); color: rgb(3, 3, 2);
}
#resultado{
    background-color: rgb(80, 153, 137);
    width: 207px;
    height: 60px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;

}
